@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Easy and secure access to your content</h1>
    <p class="display-6">Store your date safely on GCloud</p>
</div>
