@model WebApplication2.Models.File

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>File</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
            

            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <input type="file" name="file" />
                <input type="submit" value="Upload" />
            </form>

 
            

        

        
    </div>
   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
